@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,500,300italic,500italic,700italic,900,300);

/*css variables*/
:root {
	--primary-color: #C4C4C4;
	--secondary-color: #ffff;
}

* {
	/*defines how the width and height of an element are calculated: should they include padding and borders, or not.*/
	box-sizing: border-box;
	margin: 0;
}
body, html {
  display: grid;
  height: 100%;
}
body {
	font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial';
}
header {
	display: flex;
	flex-direction: row;
}
input {
	width: 192px;
	height: 44px;
	font-size: 18px;
	padding-left: 11px;
	margin-left: 45px;
	margin-bottom: 19px;
}

#login-box {
	background: var(--primary-color, grey);
	display: grid;
	grid-template-columns: 428px 282px;
	grid-template-rows: 398px;
	margin: auto;
}

#login {
	background: var(--secondary-color);
	width: 282px;
	height: 398px;
	border: 4px solid var(--primary-color,grey); 
}
.logo-group-bg {
	background: var(--primary-color, grey);
	width: 428px;
	height: 398px;
}
.logo-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 168px;
	height: 172px;
	margin-left: 129px;
	margin-top: 114px;
}
.logo-group > img {
	margin: auto;
}
.logo-group > h1 {
	font-size: 60px;
	text-align: center;
}
.logo-group > h2 {
	font-size: 38px;
	text-align: center;
}

.sign-in {
	font-size: 24px;
	margin-left: 56px;
	margin-top: 90px;
	margin-bottom: 19px;
}

.box-input {
	border: 3px solid var(--primary-color,grey);
}
.button-enter {
	background: var(--primary-color,grey);
	border-radius: 5px;
	border: none;
	cursor: pointer;
}
.tc-logo {
	width: 54px;
	height: 54px;
}
.hero-bar {
	width: auto;
	height: 83px;
	background: var(--primary-color,grey);
}

/* Mobile version */
@media (max-width: 720px) {
	body {
		background: var(--primary-color, grey);
	}
	#login-box {
		background: red;
		display: grid;
		grid-template-columns: 282px;
		grid-template-rows: 178px 334px;
		margin: auto;
	}
	.logo-group-bg {
		display: flex;
		background: var(--secondary-color);
		width: 282px;
		height: 178px;
		justify-content: center;
	}
	.logo-group {
		display: grid;
		width: 84px;
		height: 111px;
		margin: auto;
		margin-top: 51px;
	}
	.logo-group > h1 {
		font-size: 30px;
	}
	.logo-group > h2 {
		font-size: 19px;
	}
	#login {
		width: 282px;
		height: 334px;
		border: none;
	}
	.sign-in {
		position: relative;
		font-size: 24px;
		margin-top: 25px;
	}
	.box-input, .button-enter {
		position: relative;
		top: 0px;
	}
}
/* Cell phone size */
@media (max-width: 285px) {
  body {
    background: var(--secondary-color, white);
  } 
}
	
